{% extends "glamr/base.html" %}
{% load static %}
{% block content %}
<h3>About GLAMR</h3><br/>

<p>Updated on {{ object.when_published|default:"(unpublished)" }}</p>
<p>{{ object.comment }}</p>
<p>
{% for group_name, credit_data in credits %}
    {{group_name|capfirst}}:
    <ul>
    {% for name, url, version, comments in credit_data %}
    <li>{%if url%}<a href="{{url}}">{{name}}</a>{%else%}{{name}}{%endif%}
        {% if version %}{{version}}{%endif%}
        {% if comments %} +++ {{comments}}{%endif%}
    </li>
    {%endfor%}
    </ul>
{%endfor%}
</p>
{% if have_history %}<p>[<a href="{%url 'about-history'%}">previous versions</a>]</p>{%endif%}
{% endblock %}
