{% extends "glamr/basic_base.html" %}
{% load static glamr_extras %}

{% block title %}{{ page_title | join:" | " | default:'GLAMR' }}{% endblock %}

{% block head_links_and_scripts %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'glamr/css/overview_table.css' %}">
    {% if map_points is not None %}
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet/dist/leaflet.css" crossorigin=""/>
    {% endif %}
{% endblock %}

{% block top_of_body %}
    <!-- version info:
    {# version_info comes from the base context_processor #}
    {% for k, v in version_info.items %}{{ k }}: {{ v|default:'(not available)' }}
    {% endfor %}-->
{% endblock %}

{% block nav_items %}
    <li class="nav-item basic-item">{% nav_linker 'search_initial' 'Advanced Search' %}</li>
    <li class="nav-item basic-item">{% nav_linker 'contact' 'Contact &amp; Data&nbsp;Submission' %}</li>
    <li class="nav-item basic-item">{% nav_linker 'about' 'About' %}</li>
{% endblock %}

{% block right_nav_section %}
    {% if show_internal_nav %}
        <ul class="navbar-nav ms-auto">
            <li class="nav-item navbar-text">Internal:</li>
            <li class="nav-item">{% nav_linker 'schemata_top' 'DB schemata' %}</li>
            <li class="nav-item">{% nav_linker 'sample_status' 'sample status' %}</li>
            <li class="nav-item">{% nav_linker 'dbinfo' 'DB info' %}</li>
        </ul>
    {% endif %}
{% endblock %}

{% block notifications %}{% if messages %}                                                       
    <ul class="messages">                                                                            
        {% for message in messages %}                                                                
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|linebreaks }}</li>
        {% endfor %}                                                                                 
    </ul>                                                                                            
    <hr>                                                                                             
{% endif %}{% endblock %}                                                                        

{% block bottom_of_body %}
{% if map_points is not None %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js" crossorigin=""> </script>
{% endif %}
<script src="{% static 'glamr/js/bootstrap.min.js' %}" defer></script>
{% endblock %}
