{% extends "glamr/basic_base.html" %}
{% load static glamr_extras %}

{% block title %}{{ page_title | join:" | " | default:'GLAMR' }}{% endblock %}

{% block head_links_and_scripts %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'glamr/css/overview_table.css' %}">
    {% if map_points is not None %}
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet/dist/leaflet.css" crossorigin=""/>
    {% endif %}
{% endblock %}

{% block nav_items %}
    <li class="nav-item">{% nav_linker 'search_initial' 'Advanced Search' %}</li>
    <li class="nav-item">{% nav_linker 'contact' 'Contact &amp; Data&nbsp;Submission' %}</li>
    <li class="nav-item">{% nav_linker 'about' 'About' %}</li>
{% endblock %}

{% block right_nav_section %}
    <ul class="navbar-nav ms-auto">
    {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Logged in: {{ user.username }}
            </a>
            <ul class="dropdown-menu">
                <li>{% nav_linker 'logout' 'Log out' dropdown=True %}</li>
                <li>{% nav_linker 'user_profile' 'Account' dropdown=True %}</li>
                {% if user.is_staff %}
                <li><hr class="dropdown-divider"></li>
                <li><span class="dropdown-item-text disabled">Internal pages:</span></li>
                <li>{% nav_linker 'schemata_top' 'DB schemata' dropdown=True %}</li>
                <li>{% nav_linker 'sample_tracking' 'Sample status' dropdown=True %}</li>
                <li>{% nav_linker 'dbinfo' 'DB stats' dropdown=True %}</li>
                {% endif %}
            </ul>
        </li>
    {% else %}
        <li class="nav-item">{% nav_linker 'login' 'Log in' %}</li>
    {% endif %}
    </ul>
{% endblock %}

{% block notifications %}{% if messages %}                                                       
    <ul class="messages">                                                                            
        {% for message in messages %}                                                                
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|linebreaks }}</li>
        {% endfor %}                                                                                 
    </ul>                                                                                            
    <hr>                                                                                             
{% endif %}{% endblock %}                                                                        

{% block bottom_of_body %}
{% if map_points is not None %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js" crossorigin=""> </script>
{% endif %}
<script src="{% static 'glamr/js/popper.min.js' %}" defer></script>
<script src="{% static 'glamr/js/bootstrap.min.js' %}" defer></script>
{% endblock %}
