{% extends "glamr/base.html" %}
{% load static %}
{% block content %}
<div class="container" style="max-width:50rem;">
<h3>Contact and Data Submission</h3><br/>

<p>Please email us at <a href="mailto:GLAMR-omics@umich.edu">GLAMR-omics@umich.edu</a>
with any questions, comments, or suggestions about GLAMR. GLAMR is in active
development and we welcome feedback on how to improve the user experience
including features you would like to see added.</p>

<p>We’re always looking for new datasets to include! If you have samples relevant
to the Great Lakes to add&mdash;whether they’re recently sequenced, have been hiding
on your server for years, or are publicly available but we missed them&mdash;please
<a href="mailto:GLAMR-omics@umich.edu">email us</a> so that we can work with
you to include them in GLAMR. GLAMR relies largely on public datasets and data
re-use to provide this resource to the Great Lakes community&mdash;please help us in
this mission. By including data in GLAMR you can improve the reach and impact
of your work as it will be attributed to you, including any associated
publications. We prefer that ‘omics
datasets are first uploaded to <a href="https://www.ncbi.nlm.nih.gov/sra">NCBI SRA</a>
which we can then pull from. A GLAMR-specific metadata template will be
provided and we can also assist in curating your sample data. GLAMR welcomes
submissions relevant to the Great Lakes&mdash;these can include environmental samples
from the Great Lakes or other water bodies in the Great Lakes watershed, or
relevant laboratory samples such as enrichment cultures, isolate genomes, etc.</p>
</div>
{% endblock %}

