{% extends "glamr/base.html" %}
{% load glamr_extras %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'frontpage' %}">Home</a></li>
      {%block extra_breadcrumbs%}{%endblock%}
      <li class="breadcrumb-item active" aria-current="page">{{ object|meta:"verbose_name"|capfirst}} (detail)</li>
  </ol>
</nav>

{% block detail_header %}
<h3>{{ object_model_verbose_name|capfirstsmart }}: {{ object }}</h3>
{% endblock %}

{% block map%}{%include 'glamr/map.html'%}{%endblock%}

{% if has_abundance %}[<a href="{%url 'record_abundance' model=object_model_name pk=object.pk%}">abundance</a>]{%endif%}

<div class="card mb-2 mt-2">
        <div style="display: flex; flex-direction: row" class="card-header">
    <h6 class="card-title m-1">Details</h6>
</div>
        <div class="card-body">
                <table class="table table-hover table-condensed"><tbody>
                {% for name, extra_info, items, unit in details %}
                    {% spaceless %}<tr><div class="card-text">
                                <td>{{ name|capfirstsmart }}{%if extra_info%} <small>[{{extra_info}}]</small>{% endif %}:</td>
                                <td>{%for value, url in items%}
                                    {%if url%}<a href="{{url}}">{%endif%}{{ value|default_if_none:"<missing/>" }} {{unit|default:''}}{%if url%}</a>{%endif%}{%if not forloop.last%}{%if value|length >= 40 %}<br>{%else%}, {%endif%}{%endif%}
                                {%endfor%}</td>
                        </div></tr>{%endspaceless%}
                {% endfor %}
        </tbody></table>
        </div>
</div>

{% for name, model_name, qs, field in relations %}
<div class="card mb-2">
    <div style="display: flex; flex-direction: row" class="card-header">
        <h6 class="card-title m-1">Related {{name|capfirstsmart}} Records</h6>
    </div>
        <div class="card-body">
            <div>
                {% for obj in qs %}
                    <a href="{% record_url obj %}">{{ obj }}</a>{% if not forloop.last %}&nbsp;|&nbsp;{% endif %}
                    {% empty %}
                            -
                {% endfor %}
                {% if qs|length == view.max_to_many %}[...]<br><a href="{% url 'relations' obj_model=object_model_name pk=object.pk field=field.name %}">[view all]</a>{% endif %}
            </div>
        </div>
</div>
{% endfor %}

{% endblock %}
