{% extends "glamr/base.html" %}
{% block content %}

<h3>{{ object_model_verbose_name|capfirst }}: {{ object }}</h3>

<div class="card mb-2 mt-2">
    <div style="display: flex; flex-direction: row" class="card-header">
        <h6 class="card-title">Details</h6>
    </div>
    <div class="card-body">
        <table class="table table-hover table-condensed"><tbody>
            {% for name, url, value in details %}
                <tr>
                    <td>{{ name|capfirst }}:</td>
                    <td>{% if url %}<a href="{{ url }}">{{ value }}</a>{% else %}{{ value|default_if_none:"<missing>" }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody></table>
    </div>
</div>
<div class="card mb-2">
    <div style="display: flex; flex-direction: row" class="card-header">
        <h6 class="card-title">Related Records</h6>
    </div>
    <div class="card-body">
        <table class="table table-hover table-condensed"><tbody>
            {% for name, model_name, qs, field in relations %}
                <tr>
                    <td>{{ name|capfirst }}:</td>
                    <td>
                        {% for obj in qs %}<a href="{% url 'record' model=model_name pk=obj.pk %}">{{ obj }}</a>{% if not forloop.last %}&nbsp;|&nbsp;{% endif %}
                        {% empty %}-{% endfor %}
                        {% if qs|length == view.max_to_many %}[...]<br><a href="{% url 'relations' model=object_model_name pk=object.pk field=field.name %}">[view all]</a>{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody></table>
    </div>
</div>
{% endblock %}
