{% extends "glamr/base.html" %}
{% load django_tables2 %}
{% load static %}
{% load glamr_extras %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'frontpage' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ view.model|meta:"verbose_name_plural"|capfirst }} (filtered)</li>
  </ol>
</nav>
{% include "glamr/search_form_simple.html" %}
<br/>

{% if object_list %}
<div class="m-2">
    {% include "glamr/map.html"%}
</div>

<h3>Showing {{object_list|length}} {%if object_list|length == 1%}{{view.model|meta:"verbose_name"}}{%else%}{{view.model|meta:"verbose_name_plural"}}{%endif%} with:</h3>
<ul>
{% for k, v in filter_items %}
<li>{{k}}: {{v}}</li>
{% endfor %}
</ul>

{% include "glamr/download_links.html" %}
{% render_table table %}

{% else %}{# object_list #}
<h3>No results</h3>
{% endif %}{# object_list #}

{% endblock %}{# content #}



