{% extends "glamr/base.html" %}
{% load static %}
{% load glamr_extras %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'frontpage' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ view.model|meta:"verbose_name_plural"|capfirst }} (filtered)</li>
  </ol>
</nav>
{% include "glamr/search_form_simple.html" %}
<br/>

{% if object_list %}
<div class="m-2">
    {% include "glamr/map.html"%}
</div>

<h3>Showing {{ view.model|meta:"verbose_name_plural" }}</h3>
<p>with filter:
<ul>
{% for k, v in filter_items %}
<li>{{k}}: {{v}}</li>
{% endfor %}
</ul></p>
[<a href="?export">download</a>]
{% include "glamr/filter_list_generic.html" %}

{% else %}{# object_list #}
<h3>No results</h3>
{% endif %}{# object_list #}

{% endblock %}{# content #}



