{% load glamr_extras %}
<ul>
{% for obj in object_list %}
    <li class="card mb-2">
        <div style="display: flex; flex-direction: row" class="card-header">
            <h5 class="card-title m-2">{{obj|meta:"verbose_name"}}: <a href="{% url 'record' model=obj|meta:"model_name" pk=obj.pk %}">{{obj}}</a></h5>
        </div>
        <div class="card-body">
            <table class="table table-hover table-condensed table-sm"><tbody>
                <tr><td>field 1:</td><td>value 1</td></tr>
                <tr><td>field 2:</td><td>value 2</td></tr>
            </tbody></table>
        </div> 
    </li>
{% endfor %}
</ul>


