<div class="col-md-6">
    <div class="row">
<table id="frontpage_summary_datasets" class="col-sm-6 table table-hover table-sm border bg-light">
    <caption>Dataset summary</caption>
    {%for row in dataset_summary_data %}
        {% if forloop.first %}<thead>{%endif%}
        <tr>
            {%for qstr, value in row%}{% if forloop.parentloop.first %}<th scope="col">{%else%}<td>{%endif%}<small>{%if value%}<a href="{% url 'filter_result' model='dataset'%}?{{qstr}}">{%endif%}{{value}}{%if value%}</a>{%endif%}</small>{% if forloop.parentloop.first %}</th>{%else%}</td>{%endif%}{%endfor%}
        </tr>
        {%if forloop.first%}</thead><tbody>{%endif%}
        {%if forloop.last%}</tbody>{%endif%}
    {%endfor%}
</table>
<table id="frontpage_summary_samples" class="col-sm-6 table table-hover table-sm border bg-light">
    <caption>Sample summary</caption>
    {%for row in sample_summary_data %}
        {% if forloop.first %}<thead>{%endif%}
        <tr>
            {%for qstr, value in row%}{% if forloop.parentloop.first %}<th scope="col">{%else%}<td>{%endif%}<small>{%if value%}<a href="{% url 'filter_result' model='sample'%}?{{qstr}}">{%endif%}{{value}}{%if value%}</a>{%endif%}</small>{% if forloop.parentloop.first %}</th>{%else%}</td>{%endif%}{%endfor%}
        </tr>
        {%if forloop.first%}</thead><tbody>{%endif%}
        {%if forloop.last%}</tbody>{%endif%}
    {%endfor%}
</table>
</div>
</div>
