{% load django_tables2 crispy_forms_tags %}

<div class="accordion" id="frontpage-filter-accordion">
<div class="accordion-item">
    <h2 class="accordion-header">
        <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#frontpage-filter" aria-expanded="false" aria-controls="frontpage-filter">
            + filter datasets
        </button>
    </h2>
<div id="frontpage-filter" class="accordion-collapse collapse" data-bs-parent="#frontpage-filter-accordion">
	<form action="" method="get" class="accordion-body form form-inline m-3">
    	{{filter.form|crispy}}
	<input type="submit" class="btn btn-primary margin-left mt-2" value="Filter">
	</form>
</div>
</div>
</div>
