{% extends "glamr/base.html" %}
{% load static %}
{% block content %}
<div class="container" style="max-width:70rem;">
<h3>http header</h3>
<table class="table">
{% for k, v in info.items %}<tr><td>{{ k }}</td><td>{{ v }}</td></tr>{% endfor %}
</table>
<h3>request attributes</h3>
<table class="table">
{% for k, v in request_attrs.items %}<tr><td>{{ k }}</td><td>{{ v }}</td></tr>{% endfor %}
</table>
<h3>request META</h3>
<table class="table">
{% for k, v in request_meta.items %}<tr><td>{{ k }}</td><td>{{ v }}</td></tr>{% endfor %}
</table>
{% endblock %}
