{% extends "glamr/detail.html" %}
{% load glamr_extras %}
{% block extra_breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% record_url object.dataset %}">{{object.dataset|meta:"verbose_name"|capfirst}}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dataset_sample_list' set_no=object.dataset.get_set_no %}">{{object|meta:"verbose_name_plural"|capfirst}}</a></li>
{% endblock %}

{% block detail_header %}{{ block.super }}
{% if object.sample_type == "metagenome" %}
[
    {% if object.tax_abund_ok %}
        <a href="{% url 'krona' samp_no=object.get_samp_no %}">krona chart</a>
    {% else %}
        krona chart
    {% endif %}
    | <a href="{% url 'relations' model='sample' pk=object.pk field='taxonabundance'%}">abundance/taxa</a>
    | <a href="{% url 'relations' model='sample' pk=object.pk field='readabundance'%}">abundance/uniref100</a>
]
{% endif %}
{% endblock %}
