{% extends "glamr/detail.html" %}
{% load glamr_extras %}
{% block extra_breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% record_url object.dataset %}">{{object.dataset|meta:"verbose_name"|capfirst}}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dataset_sample_list' set_no=object.dataset.get_set_no %}">{{object|meta:"verbose_name_plural"|capfirst}}</a></li>
{% endblock %}

{% block detail_header %}{{ block.super }}
{% if object.sample_type == "metagenome" %}
[
    {% if object.tax_abund_ok and not object.private %}
        <a href="{% url 'krona' samp_no=object.get_samp_no %}">krona chart</a>
        | <a href="{% url 'relations' model='sample' pk=object.pk field='taxonabundance'%}">abundance/taxa</a>
    {% else %}
        krona chart | abundance/taxa
    {% endif %}
    |
    {% if object.read_abundance_loaded and not object.private %}
        <a href="{% url 'relations' model='sample' pk=object.pk field='functional_abundance'%}">abundance/functions</a>
    {% else %}
        abundance/functions
    {% endif %}
]
{% endif %}
[{%if sample_has_files%}<a href="{% url 'relations' model='sample' pk=object.pk field='file' %}">file downloads</a>{%else%}file downloads{%endif%}]
{% endblock %}
