{% load glamr_extras %}
<script type="text/javascript">
    function changeSelection(){
        switch (document.getElementById('search_dropdown').value) {
            {% for name, verbose, fields in models_and_fields %}
        case "{{ name }}":
            document.getElementById('search_form').action = "{% url 'search_result' model=name %}";
            document.getElementById('query_text').placeholder = "Search for {{ verbose|capfirstsmart }} by {{ fields|join:', ' }}";
            break;
            {% endfor %}
        default:
            document.getElementById('search_form').action = "{% url 'search_result' model='global' %}";
            document.getElementById('query_text').placeholder = "Microcystis, HABs, Lake Erie";
            break;
        }
    }
</script>

<form id="search_form" action="{% url 'search_result' model=search_model_name %}" method="get">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <select class="btn btn-outline-primary dropdown-toggle" name="model" id="search_dropdown" onchange="changeSelection()">
                <option {% if not search_model %}selected{% endif %} value="global">Search for...</option>
                {% for name, verbose, _ in models_and_fields %}
                    <option {% if search_model_name == name %}selected{% endif %} value="{{ name }}">{{ verbose|capfirstsmart }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit" values="Submit">Search</button>
        </div>
        <input type="text" name="query" placeholder="Microcystis, HABs, Lake Erie" required id="query_text" class="form-control" onload="changeSelection()">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#search-help-detail" aria-expanded="false" aria-controls="search-help-detail">
                <i class="bi bi-info-circle"></i>
            </button>
        </div>
    </div>
    {% if advanced_search %}
        <div class="input-group mb-3">
        <input type="checkbox" name="field_data_only" id="id_field_data_only" checked>
        <label for="id_field_data_only">&nbsp;restrict search to field data</label>
        </div>
    {% endif %}
</form>

<div id="search-help-detail" class="search-help-detail collapse m3">
    <blockquote class="alert alert-primary">
        Select a search category from the drop-down menu on the left, then enter your search terms.
        <br/>
        More complex searches can be performed by clicking on the "Advanced Search" link at the top of the page.
    </blockquote>
</div>
