"""
Extra attributes for fields of the Sample model

This module is compiled via the compile_extra_field_attributes command.  The
module file should be tracked by revision control but not be manually edited.
"""

extra_sample_field_attrs = {
# PLACEHOLDER
}
