{% extends "glamr/basic_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="max-width:50rem;">
<h3>Login</h3>

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post">
{% csrf_token %}
{% if form.errors %}
<p class="errornote">Please correct the error{{ form.errors.items|length|pluralize }} below.</p>
{% endif %}

<p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed
it in correctly.</p>

{{ form|crispy }}
<input type="hidden" name="next" value="{{ next }}">
<button type="submit" class="btn btn-primary">Change my password</button>
</form>

{% endblock %}

