{% extends "glamr/basic_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if validlink %}

<div class="container" style="max-width:50rem;">
<p>Please choose a password and enter it twice so we can verify you typed it in correctly.</p>
<form method="post">{% csrf_token %}
<fieldset class="">
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Change my password</button>
</fieldset>
</form>
</div>
{% else %}

<p>The account setup link was invalid, possibly because it has already been used.  Please re-submit your account request.</p>

{% endif %}

{% endblock %}

