{% extends "glamr/base.html" %}
{% load glamr_extras %}
{% block content %}
{% if password_change_done %}<div class="alert alert-success d-flex align-items-center" role="alert">
    Password change was successful.
</div>
{% endif %}
<h3>Your GLAMR account</h3>
<dl class="row">
    <dt class="col-md-3">Username</dt><dd class="col-md-9">{{object.username}}</dd>
    {% if datasets|length > 0 %}
    <dt class="col-md-3">You have additional access to these datasets</dt>
    <dd class="col-md-9">
        <ul class="list-group">
            {% for i in datasets %}
            <li class="list-group-item"><a href="{% record_url i %}">{{ i }}</a></li>
            {% endfor %}
        </ul>
    </dd>
    {% endif %}
</dl>
<p>User account actions:</p>
<div class="bnt-group">
<a class="btn btn-secondary me-4" href="{% url 'password_change' %}">Change password</a>
<a class="btn btn-secondary me-4" href="{% url 'delete_account' %}">Delete account</a>
</div>
{% endblock %}
